<!DOCTYPE html>
<html lang="ja">
  <%= render 'layouts/rails_default' %>

  <body>
  <%= render 'layouts/header' %>
  <div class="container">
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
  </body>
</html>
